pipeline/pipeline_BulkCopy.json
{
	"name": "pipeline_BulkCopy",
	"properties": {
		"description": "To copy Dimensions",
		"activities": [
			{
				"name": "Lookup_TableNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT '[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' As MyTableWithSchema\n, TABLE_SCHEMA As MySchema,\nTABLE_NAME As MyTable\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_NAME LIKE 'Dim%'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTable_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_CopyTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_TableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@{activity('Lookup_TableNames').output.value}",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data_EachTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"parallelCopies": 1,
								"enableSkipIncompatibleRow": true,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTable_Dataset",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@{item().MySchema}",
											"type": "Expression"
										},
										"TableName": {
											"value": "@{item().MyTable}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetDataset",
									"type": "DatasetReference",
									"parameters": {
										"outputFile": {
											"value": "@concat(item().MySchema,'_',item().MyTable)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}